 /* nhúng font */
 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
 padding:0;
 margin: 0;
 font-family: 'Roboto', sans-serif;
 }

.menu {
    height: 80px;
    line-height: 80px;
}

.home {
    border-left: 0.01em dotted #00aeef;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: #F8C800; */
    background: #0085be;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2); */
}

li {
    float: left;
    border-right: 0.01em dotted #00aeef;
    font-size: 18px;
}

li.dropdown {
    display: inline-block;
    width: 180px;
}

li a:hover,
.dropdown:hover {
    background: #00aeef;
}

li a,
.dropdown-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background: #F8C800;
*/
    background: #0085be;
    min-width: 180px;
    border-bottom: 0.01em dotted #00aeef;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
    z-index: 1;
    top: 80px;
    transition: all .3s ease-in-out;
}

.dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 2;
}

.dropdown-content a:hover {
    background: #00aeef;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.logo {
    padding: 10px 15px;
    
}

#BG {
    
        background-image: url('./images/bg.png');
        height: 1024px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
         padding: 20px 80px;
   
    
}
#theme {
    width: 100%;
    background-color: white;
    margin-top: 60px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
    display: block;
    padding: 20px;
    float:left ;
}
.row{
    width: 100%;
    display: block;
  
}
 
